@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Tektur:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --text-color: #fff;
  --color-pimary: #fff;
  --color-secondary: #ff0202;
  --gap-x-small: 4px;
  --gap-small: 8px;
  --gap-normal: 16px;
  --gap-large: 32px;
  --gap-x-large: 64px;
  --radius-small: 4px;
  --height-field: 36px;
}

body {
  background-color: #333;
}

.app-title {
  text-align: center;
  color: var(--text-color);
  margin: var(--gap-large) 0;
  font-size: 64px;
}

.app-select {
  height: 36px;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--color-pimary);
  width: 100%;
  margin-bottom: var(--gap-normal);
  padding: 0 var(--gap-small);
  cursor: pointer;

  &:focus {
    outline: none;
  }

  option {
    color: #333333;
    padding: 16px 0;
  }
}

.app-select-label {
  display: inline-block;
  margin-bottom: var(--gap-small);
  color: var(--text-color);
}

.btn-back, .btn-home {
  border: 1px solid var(--color-pimary);
  background-color: transparent;
  padding: 12px 48px;
  color: var(--text-color);
  margin-top: var(--gap-normal);
  cursor: pointer;
  transition-duration: .3s;

  &:hover {
    color: #333;
    background-color: var(--color-pimary);
  }
}
